header{
    height: auto;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* ======================= CTA ======================= */

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ======================= HEADER SOCIALS ======================= */

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 1rem;
}

.header__socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ======================= SCROLL DOWN ======================= */

.scroll__down{
    position: absolute;
    right: 0;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    bottom: 2.5rem;
}

/* ======================= MEDIA QUERIES (MEDIUM DEVICES) ======================= */

@media screen and (max-width:1024px) {

}

/* ======================= MEDIA QUERIES (SMALL DEVICES) ======================= */

@media screen and (max-width:600px) {

    .scroll__down{
        display: none;
    }

    .header__socials{
        position: static;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
    }

    .header__socials::before{
        content: "";
        width: 2rem;
        height: 1px;
        background: var(--color-primary);
    }

    .header__socials::after{
        content: "";
        width: 2rem;
        height: 1px;
        background: var(--color-primary);
    }

}